/* color setting */


// 主色
$colorMain: #6CC24A ;

// 輔助色
$colorSecond-Adult: #00b4dc;
$colorSecond-Child: #ffd44d;
$colorSecond-Selection:#55a237;
$colorSecond-Denim:#97A8B9;
$colorSecond-Denim-light: #D2E0EF;
$colorSecond-Denim-dark: #69829A;
$colorSecond-Foreigner:#ffab81;
$colorSecond-Orange:#ff7835;
$colorSecond-Blue:#008aa9;
$colorSecond-LightBlue:#72bcd4;

// 輔助色 - 筆記效果
$colorSecond-Note-Yellow: #FFEA81;
$colorSecond-Note-MintGreen:#BCE8DD;



// 次要色
$colorDefault-DarkGray:#4d4d4d;
$colorDefault-Gray:#ababab;
$colorDefault-LightGray:#d3d3d3;
$colorDefault-GrayWhite:#fafafa;
$colorDefault-WarmWhite:#f2efe9;

