@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500,700|Roboto:400,500,700&subset=chinese-traditional");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700,900&display=swap");
/* color setting */
/*==========基本預設設定============*/
/*基本設定*/
html {
  min-width: 320px; }

html, body, pre, option, input, select, textarea {
  font-family: 'Roboto','Noto Sans TC', "Noto Sans CJK JP",'Titillium Web', sans-serif;
  font-size: 75%;
  font-weight: 300;
  color: #4d4d4d; }

html, body, div, section, article, address {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*字級基本預設設定*/
p, span, pre {
  font-size: 1.25rem;
  line-height: 1.95rem;
  font-weight: normal;
  margin-top: 2px;
  margin-bottom: 2px;
  text-decoration: none; }

a {
  font-size: 1.25rem;
  line-height: 1.95rem;
  font-weight: normal;
  text-decoration: none;
  color: #2c2c2c; }
  a:hover {
    color: black; }

h1 {
  font-size: 2.75rem;
  line-height: 3.15rem;
  font-weight: 300;
  margin-top: 6px;
  margin-bottom: 6px; }

h2 {
  font-size: 2.25rem;
  line-height: 2.85rem;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 5px; }

h3 {
  font-size: 2.05rem;
  line-height: 2.55rem;
  font-weight: normal;
  margin-top: 4px;
  margin-bottom: 4px; }

h4 {
  font-size: 1.85rem;
  line-height: 2.05rem;
  font-weight: normal;
  margin-top: 3px;
  margin-bottom: 3px; }

h5 {
  font-size: 1.6rem;
  line-height: 2.05rem;
  font-weight: normal;
  margin-top: 3px;
  margin-bottom: 3px; }

h6 {
  font-size: 1.35rem;
  line-height: 1.75rem;
  font-weight: normal;
  margin-top: 3px;
  margin-bottom: 3px; }

ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-before: 0;
  -webkit-padding-after: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  margin-before: 0;
  margin-after: 0;
  margin-start: 0;
  margin-end: 0;
  padding-befor: 0;
  padding-after: 0;
  padding-start: 0;
  padding-end: 0;
  padding-left: 0;
  padding-right: 0;
  list-style-type: none; }
  @media screen and (min-width: 890px) {
    ul {
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
      -webkit-margin-start: 0;
      -webkit-margin-end: 0;
      -webkit-padding-before: 0;
      -webkit-padding-after: 0;
      -webkit-padding-start: 0;
      -webkit-padding-end: 0;
      list-style-type: none;
      display: inline-block; } }

input[type=text],
input[type=number],
select {
  font-size: 1.58rem;
  padding: 8px;
  border: 1px solid #c7c7c7;
  margin-bottom: 0px;
  background: white;
  color: #4d4d4d; }

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: white; }

input[type=submit] {
  border-width: 0px; }

body {
  margin: 0px;
  padding: 0px;
  position: relative;
  text-align: unset; }

::-moz-selection {
  background: #55a237;
  color: white; }

::selection {
  background: #55a237;
  color: white; }

/* [基本設定] placeholder */
.placeholderColor {
  color: #c7c7c7; }

/* [基本設定] input placeholder*/
input::-webkit-input-placeholder {
  color: #c7c7c7; }

input::-moz-placeholder {
  color: #c7c7c7; }

input:-ms-input-placeholder {
  color: #c7c7c7; }

input:-moz-placeholder {
  color: #c7c7c7; }

/* [基本設定] textarea placeholder*/
textarea::-webkit-input-placeholder {
  color: #c7c7c7; }

textarea::-moz-placeholder {
  color: #c7c7c7; }

textarea:-ms-input-placeholder {
  color: #c7c7c7; }

textarea:-moz-placeholder {
  color: #c7c7c7; }

input,
input[type=button],
input[type=text],
input[type=submit],
main select,
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  margin: 0px; }

button {
  margin: 0px; }

/* footer */
footer {
  width: 100%;
  min-height: 50px;
  color: white;
  background: #55a237;
  padding-top: 5px;
  padding-bottom: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative; }
  @media screen and (max-width: 889px) {
    footer {
      display: none; } }
  footer .Text {
    width: 90%;
    margin: 0 auto;
    float: left;
    text-align: center; }
    footer .Text p {
      font-size: 1.15rem;
      line-height: 1.5rem; }
      footer .Text p a {
        color: #FFEA81;
        font-size: 1.15rem;
        line-height: 1.5rem; }
        footer .Text p a:hover {
          color: white; }
      footer .Text p span {
        font-size: 1rem; }
        footer .Text p span a {
          font-size: 1rem;
          line-height: 1.95rem; }

/* End footer */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* ************************************************************* 
Header
************************************************************* */
.HeadNav {
  background: white;
  width: 100%;
  height: 60px;
  opacity: 0.97;
  border: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1080;
  padding-top: constant(safe-area-inste-top);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
  -webkit-transition: 0.7s all ease 0.1s;
  -o-transition: 0.7s all ease 0.1s;
  transition: 0.7s all ease 0.1s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 889px) {
    .HeadNav .InfoText,
    .HeadNav .MenuItem,
    .HeadNav .BottomInfo {
      display: none; } }
  @media screen and (min-width: 320px) {
    .HeadNav .pushy .InfoText,
    .HeadNav .pushy .MenuItem,
    .HeadNav .pushy .BottomInfo {
      display: block; } }
  @media screen and (min-width: 890px) {
    .HeadNav {
      height: 88px;
      overflow: hidden;
      display: block;
      padding-top: 6px; } }

.Row {
  width: calc(100% - 12px);
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 0px;
  float: left; }
  @media screen and (min-width: 890px) {
    .Row {
      width: 95%;
      margin-left: 2.5%;
      margin-right: 2.5%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

/* Header- (PushyMenu)  */
.NavBtn {
  width: 40px;
  float: left;
  position: absolute;
  top: 12px;
  left: 5px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* Header- (PushyMenu) - 選單內容 */
  /* End Header- (PushyMenu) - 選單內容 */ }
  @media screen and (min-width: 890px) {
    .NavBtn {
      display: none; } }
  .NavBtn .pushy {
    background: #6CC24A;
    opacity: 1;
    z-index: 9999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    .NavBtn .pushy.pushy-left {
      overflow-y: scroll;
      overflow-x: hidden; }
    .NavBtn .pushy .SiteBrand {
      width: 100%;
      margin-top: 0px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding-top: 5px;
      padding-bottom: 5px; }
      .NavBtn .pushy .SiteBrand .Logo {
        width: 208px; }
        @media screen and (max-width: 889px) {
          .NavBtn .pushy .SiteBrand .Logo span {
            font-size: 1.1rem;
            margin: -2px calc(-25% / 2);
            width: 125%;
            display: block;
            text-align: center;
            line-height: 1.1rem;
            color: white; } }
    @media screen and (max-width: 889px) {
      .NavBtn .pushy .InfoText {
        width: 80%;
        margin: 0 auto;
        color: white; }
        .NavBtn .pushy .InfoText p, .NavBtn .pushy .InfoText ul {
          line-height: 2.25rem; }
          .NavBtn .pushy .InfoText p.Phone, .NavBtn .pushy .InfoText ul.Phone {
            padding: 10px;
            border: 1px dashed #FFEA81;
            color: #FFEA81; }
            .NavBtn .pushy .InfoText p.Phone b, .NavBtn .pushy .InfoText ul.Phone b {
              font-weight: bold; }
              .NavBtn .pushy .InfoText p.Phone b span, .NavBtn .pushy .InfoText ul.Phone b span {
                display: inline-block;
                font-size: 1.2rem; }
          .NavBtn .pushy .InfoText p.Note, .NavBtn .pushy .InfoText ul.Note {
            font-size: 1.38rem;
            margin-top: 8px; }
            .NavBtn .pushy .InfoText p.Note li, .NavBtn .pushy .InfoText ul.Note li {
              border-bottom: 1px dashed #FFEA81;
              margin-bottom: 1px;
              padding: 3px 0px; } }
    @media screen and (max-width: 889px) {
      .NavBtn .pushy .MenuItem {
        width: 80%;
        margin: 20px auto; }
        .NavBtn .pushy .MenuItem ul {
          display: block; }
          .NavBtn .pushy .MenuItem ul li {
            width: 100%;
            margin: 15px 0px; }
            .NavBtn .pushy .MenuItem ul li a {
              color: white;
              background: #6CC24A;
              border-color: white;
              padding: 10px 8px;
              -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.35);
              box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.35);
              font-size: 1.68rem;
              line-height: 1.8rem; } }
    .NavBtn .pushy .BottomInfo {
      background: #55a237;
      width: 100%;
      bottom: 0px;
      padding: 5px 10px;
      margin-top: 20px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      min-height: 60px;
      font-size: 1.1rem;
      line-height: 1.68rem;
      color: white; }
      .NavBtn .pushy .BottomInfo p {
        font-size: 1.1rem;
        line-height: 1.68rem;
        font-weight: normal; }
        .NavBtn .pushy .BottomInfo p a {
          font-size: 1.1rem;
          line-height: 1.68rem;
          padding: 0px;
          color: #FFEA81;
          display: inline; }
        .NavBtn .pushy .BottomInfo p span {
          font-size: 1rem;
          line-height: 1.4rem;
          color: white;
          display: block;
          background: rgba(255, 255, 255, 0.05);
          padding: 4px; }
          .NavBtn .pushy .BottomInfo p span a {
            font-size: 1rem;
            line-height: 1.4rem; }

.NavBtn .MenuBtn {
  position: fixed;
  cursor: pointer;
  z-index: 999999; }

.NavBtn .hamburger-menu {
  width: 35px;
  cursor: pointer;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .NavBtn .hamburger-menu span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #6CC24A;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    margin-top: 3px;
    margin-bottom: 3px; }
    .NavBtn .hamburger-menu span:not(:first-child) {
      margin-top: 7px; }

body.pushy-open-left .hamburger-menu span:nth-child(1) {
  -webkit-transform: translate(0px, 10px) rotate(135deg);
  -ms-transform: translate(0px, 10px) rotate(135deg);
  transform: translate(0px, 10px) rotate(135deg);
  background: white; }

body.pushy-open-left .hamburger-menu span:nth-child(2) {
  opacity: 0;
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s; }

body.pushy-open-left .hamburger-menu span:nth-child(3) {
  -webkit-transform: translate(0px, -16px) rotate(-135deg);
  -ms-transform: translate(0px, -16px) rotate(-135deg);
  transform: translate(0px, -16px) rotate(-135deg);
  background: white; }

body.header-fixed.pushy-open-left .NavBtn {
  top: 12px; }

/* End Header- (PushyMenu) - 漢堡選單icon */
/* end Header- (PushyMenu)  */
/* Header - (NavLogo) */
.NavLogo {
  float: left;
  margin-left: calc((100% - 140px - 12px )/2);
  position: absolute;
  top: 6px; }
  @media screen and (min-width: 890px) {
    .NavLogo {
      margin-left: 0px;
      position: relative;
      top: 0px; } }
  .NavLogo .SiteBrand {
    width: 140px;
    padding: 0;
    margin: 0 auto;
    float: left; }
    @media screen and (min-width: 890px) {
      .NavLogo .SiteBrand {
        width: 220px;
        margin-top: 0px;
        position: relative;
        float: left;
        -webkit-transition: 0.7s all;
        -o-transition: 0.7s all;
        transition: 0.7s all; } }
    .NavLogo .SiteBrand .Logo {
      float: left; }
      .NavLogo .SiteBrand .Logo span {
        margin-left: 5px; }
        @media screen and (max-width: 889px) {
          .NavLogo .SiteBrand .Logo span {
            font-size: 1rem;
            margin: 2px calc(-25% / 2);
            width: 125%;
            display: block;
            text-align: center;
            line-height: 1.1rem; } }
      .NavLogo .SiteBrand .Logo .StanderColor {
        display: block; }

@media screen and (min-width: 890px) {
  .QuickLink {
    display: none; } }

.QuickLink ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .QuickLink ul li {
    margin: 0px 4px; }
    .QuickLink ul li:last-of-type {
      margin-right: 0px; }
    .QuickLink ul li a {
      border: 1px solid #6CC24A;
      padding: 5px;
      background: #6CC24A;
      color: white;
      font-size: 1.05rem;
      line-height: 1.2rem;
      border-radius: 6px;
      display: block;
      text-align: center; }

.SiteBrand img {
  width: 100%; }

.InfoText {
  width: 50%;
  margin-left: 8px; }
  .InfoText p, .InfoText ul {
    font-family: "Noto Sans CJK JP",'Roboto',sans-serif;
    font-weight: 700;
    font-size: 2.25rem; }
    .InfoText p b, .InfoText ul b {
      font-family: "Noto Sans CJK JP",sans-serif;
      font-weight: bold;
      font-size: 1.58rem;
      line-height: 1.8rem; }
    .InfoText p span, .InfoText ul span {
      font-size: 1rem;
      line-height: 1.2rem; }
  @media screen and (min-width: 890px) {
    .InfoText {
      width: 42.5%;
      max-height: 80px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      overflow: hidden; }
      .InfoText p, .InfoText ul {
        width: calc((100% - 10px )/2);
        margin-top: 0px;
        margin-bottom: 0px;
        margin-right: 10px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 2px 4px;
        min-height: 75px; }
        .InfoText p.Phone, .InfoText ul.Phone {
          font-size: 1.38rem;
          border: 1px dashed #ababab; }
        .InfoText p.Note, .InfoText ul.Note {
          font-size: 1rem;
          line-height: 1.35rem;
          margin-right: 0px; }
          .InfoText p.Note li, .InfoText ul.Note li {
            border-bottom: 1px dashed #ababab;
            margin-bottom: 2px;
            padding: 5px 0px;
            color: #008aa9; }
        .InfoText p b, .InfoText ul b {
          font-size: 1.28rem;
          line-height: 1.6rem; }
        .InfoText p span, .InfoText ul span {
          font-size: 1rem;
          line-height: 1.35rem;
          display: block; } }
  @media screen and (min-width: 1100px) {
    .InfoText {
      width: 44.5%; }
      .InfoText p.Phone, .InfoText ul.Phone {
        font-size: 1.65rem; }
      .InfoText p.Note, .InfoText ul.Note {
        font-size: 1.15rem; }
      .InfoText p b, .InfoText ul b {
        font-size: 1.28rem;
        line-height: 1.6rem; }
      .InfoText p span, .InfoText ul span {
        font-size: 1.1rem;
        line-height: 1.25rem; } }
  @media screen and (min-width: 1351px) {
    .InfoText p.Phone, .InfoText ul.Phone {
      font-size: 1.95rem; }
    .InfoText p.Note, .InfoText ul.Note {
      font-size: 1.25rem; }
    .InfoText p b, .InfoText ul b {
      font-size: 1.38rem;
      line-height: 1.8rem; }
    .InfoText p span, .InfoText ul span {
      font-size: 1.28rem;
      line-height: 1.35rem; } }

.MenuItem ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .MenuItem ul li {
    margin: 0px 4px; }
    .MenuItem ul li:last-of-type {
      margin-right: 0px; }
    .MenuItem ul li a {
      border: 1px solid #6CC24A;
      padding: 8px 8px;
      background: white;
      color: #6CC24A;
      border-radius: 6px;
      display: block; }
      .MenuItem ul li a:hover {
        background: #6CC24A;
        color: white;
        -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35); }
      .MenuItem ul li a.active {
        background: #6CC24A;
        color: white; }

@media screen and (min-width: 890px) {
  .MenuItem {
    width: calc(100% - 42.5% - 230px); }
    .MenuItem ul li a {
      font-size: 1.05rem;
      line-height: 1.5rem;
      text-align: center;
      padding: 8px 5px; } }

@media screen and (min-width: 1100px) {
  .MenuItem {
    width: calc(100% - 44.5% - 230px); }
    .MenuItem ul li a {
      font-size: 1.25rem;
      padding: 8px 8px; } }

/* ************************************************************* 
End Header
************************************************************* */
/* ************************************************************* 
[Page]地圖資訊
************************************************************* */
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative; }
  @media screen and (min-width: 890px) {
    html, body {
      height: calc(100% - 6px); } }

body {
  background: #f2efe9;
  height: calc(100vh - 88px);
  margin-top: 88px;
  top: 0px;
  position: absolute; }
  @media screen and (max-width: 889px) {
    body {
      height: calc(100% - 60px);
      margin-top: 60px; } }

#map {
  width: calc(100% - 290px);
  height: calc(100% - 50px - 12px);
  background: #72bcd4;
  margin-left: 290px; }
  @media screen and (max-width: 899px) {
    #map {
      width: 100%;
      height: calc(100% - 50px);
      margin-left: 0px;
      margin-top: 0px; } }

/* CSS3 Transition to fade-in highlight style */
svg.leaflet-zoom-animated > g > path {
  -webkit-transition-property: fill, fill-opacity, stroke, stroke-opacity, stroke-width;
  -o-transition-property: fill, fill-opacity, stroke, stroke-opacity, stroke-width;
  transition-property: fill, fill-opacity, stroke, stroke-opacity, stroke-width;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  stroke: #6CC24A;
  stroke-opacity: 0.68;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill-opacity: 0;
  fill-rule: evenodd; }

.leaflet-popup-pane {
  margin-top: -30px; }

.leaflet-control-container .leaflet-left .leaflet-control {
  margin-top: 20px; }

.leaflet-control-container .leaflet-top .leaflet-control {
  margin-top: 40px; }
  @media screen and (max-width: 889px) {
    .leaflet-control-container .leaflet-top .leaflet-control {
      margin-top: 60px; } }

.leaflet-container .leaflet-popup .leaflet-popup-content-wrapper {
  padding: 0px;
  color: #2c2c2c; }
  .leaflet-container .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content p {
    margin: 0px; }
  .leaflet-container .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content {
    margin: 0px;
    padding: 12px; }

.leaflet-container .leaflet-popup a.leaflet-popup-close-button {
  width: 2.25rem;
  height: 2.25rem;
  font: 2rem/2rem Tahoma, Verdana, sans-serif;
  color: #ffffff; }

.NewPopup .leaflet-popup-content-wrapper .leaflet-popup-content .InfoTitle {
  margin: -12px -12px 0px -12px;
  padding: 12px 12px 6px;
  background: #6CC24A;
  border-radius: 12px 12px 0px 0px;
  font-size: 1.58rem;
  line-height: 1.8rem;
  font-weight: bold;
  color: white; }

.NewPopup .leaflet-popup-content-wrapper .leaflet-popup-content .Info {
  margin: 5px 0px;
  font-size: 0.9rem;
  line-height: 1.1rem; }
  .NewPopup .leaflet-popup-content-wrapper .leaflet-popup-content .Info p {
    font-size: 1.05rem;
    line-height: 1.5rem; }
    .NewPopup .leaflet-popup-content-wrapper .leaflet-popup-content .Info p b {
      font-weight: bold; }

.NewPopup .leaflet-popup-content-wrapper .leaflet-popup-content .Note {
  width: 100%;
  padding: 3px 0px;
  border-bottom: 1px dashed #6CC24A;
  font-size: 1.05rem;
  line-height: 1.5rem; }
  .NewPopup .leaflet-popup-content-wrapper .leaflet-popup-content .Note.Web {
    margin-bottom: 3px;
    border-bottom: 0px; }
    .NewPopup .leaflet-popup-content-wrapper .leaflet-popup-content .Note.Web a {
      font-size: 1.05rem;
      line-height: 1.5rem;
      color: #008aa9; }

.NewPopup .leaflet-popup-content-wrapper .leaflet-popup-content .Stock {
  width: 100%;
  font-size: 1.15rem;
  line-height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  margin-top: 3px; }
  .NewPopup .leaflet-popup-content-wrapper .leaflet-popup-content .Stock .Item {
    width: 50%;
    padding: 6px; }
    .NewPopup .leaflet-popup-content-wrapper .leaflet-popup-content .Stock .Item.AdultMask {
      background: #00b4dc; }
    .NewPopup .leaflet-popup-content-wrapper .leaflet-popup-content .Stock .Item.ChildMask {
      background: #ffd44d; }
    .NewPopup .leaflet-popup-content-wrapper .leaflet-popup-content .Stock .Item .Quantity {
      font-size: 2.25rem;
      line-height: 2.5rem;
      color: white;
      font-weight: bold; }

.Notice {
  width: 150px;
  height: 150px;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
  padding: 10px;
  position: absolute;
  color: white;
  top: 120px;
  right: 10px;
  z-index: 888; }

.M-News {
  width: 99%;
  background: rgba(0, 138, 169, 0.78);
  position: absolute;
  top: 5px;
  left: 0.5%;
  z-index: 899; }
  .M-News P {
    font-size: 1rem;
    line-height: 1.25rem;
    color: white;
    padding: 3px;
    margin: 0px; }
  @media screen and (min-width: 889px) {
    .M-News {
      display: none; } }

.M-Panel {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: #6CC24A;
  bottom: 0px;
  height: 50px;
  z-index: 899;
  position: absolute; }
  @media screen and (min-width: 890px) {
    .M-Panel {
      display: none; } }
  .M-Panel select {
    font-size: 1.25rem;
    width: calc((100% - 120px)/2);
    border-radius: 8px;
    margin-right: 4px;
    cursor: pointer; }
    .M-Panel select option {
      font-size: 1.25rem; }
  .M-Panel button {
    font-size: 1.25rem;
    border-style: solid;
    width: 60px;
    border: 1px solid #ff7835;
    background: #ff7835;
    color: white;
    border-radius: 8px;
    padding: 7px 6px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35); }
  .M-Panel .OpenListBtn {
    width: 65px;
    font-size: 1.25rem;
    border-style: solid;
    border: 1px solid #008aa9;
    background: #008aa9;
    color: white;
    border-radius: 8px;
    padding: 7px 6px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35);
    float: left;
    text-align: center; }

.M-List {
  width: 100%;
  height: calc(100% - 50px);
  background: rgba(0, 0, 0, 0.5);
  z-index: 1001;
  position: absolute;
  bottom: 50px;
  left: 0px; }
  @media screen and (min-width: 889px) {
    .M-List {
      display: none; } }
  .M-List .M-ListWrap {
    width: calc(100% - 20px);
    height: calc(100% - 10px);
    background: rgba(255, 255, 255, 0.75);
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    overflow-y: scroll;
    border: 5px solid black; }
    .M-List .M-ListWrap .CloseListBtn {
      width: calc(100% - 25px);
      line-height: 2.8rem;
      background: black;
      color: white;
      font-size: 1.65rem;
      text-align: center;
      position: fixed;
      z-index: 1002; }
    .M-List .M-ListWrap .ListBlock {
      width: calc(100% - 20px);
      height: 100%;
      position: absolute;
      top: calc(3rem + 5px);
      left: 8px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .M-List .M-ListWrap .ListBlock h5 {
        width: 80%;
        height: 60px;
        display: block;
        text-align: center;
        margin-top: -120px;
        position: relative; }
      .M-List .M-ListWrap .ListBlock .StoreItem {
        width: 100%;
        min-height: 155px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 8px;
        cursor: pointer;
        border-bottom: 1px solid #97A8B9;
        margin-bottom: 5px;
        position: relative;
        background: rgba(255, 255, 255, 0.58);
        -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.85);
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.85); }
        .M-List .M-ListWrap .ListBlock .StoreItem:hover {
          -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }
        .M-List .M-ListWrap .ListBlock .StoreItem .InfoTitle {
          width: calc(100% + 16px);
          height: 31px;
          font-size: 1.35rem;
          background: #6CC24A;
          color: white;
          margin-left: -8px;
          margin-right: -8px;
          margin-top: -8px;
          padding: 5px; }
        .M-List .M-ListWrap .ListBlock .StoreItem .Info {
          width: calc(100% - 30% - 5px);
          font-size: 0.9rem;
          line-height: 1.1rem;
          margin-top: 3px; }
          .M-List .M-ListWrap .ListBlock .StoreItem .Info p {
            font-size: 1.05rem;
            line-height: 1.35rem;
            font-weight: normal; }
            .M-List .M-ListWrap .ListBlock .StoreItem .Info p b {
              font-weight: bold; }
        .M-List .M-ListWrap .ListBlock .StoreItem .Note {
          width: calc(100% - 30% - 5px);
          padding: 3px 0px;
          border-bottom: 1px dashed #6CC24A;
          font-size: 1.05rem;
          line-height: 1.35rem; }
          .M-List .M-ListWrap .ListBlock .StoreItem .Note.Web {
            margin-bottom: 3px;
            border-bottom: 0px; }
            .M-List .M-ListWrap .ListBlock .StoreItem .Note.Web a {
              color: #008aa9;
              font-size: 1.05rem;
              line-height: 1.35rem; }
          .M-List .M-ListWrap .ListBlock .StoreItem .Note:last-child(1) {
            margin-bottom: 3px;
            border-bottom: 0px; }
        .M-List .M-ListWrap .ListBlock .StoreItem .Stock {
          width: 30%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          position: absolute;
          top: 38px;
          right: 0px;
          text-align: center; }
          .M-List .M-ListWrap .ListBlock .StoreItem .Stock .Item {
            width: 100%;
            padding: 8px;
            font-size: 1rem;
            line-height: 1.1rem; }
            .M-List .M-ListWrap .ListBlock .StoreItem .Stock .Item .Quantity {
              font-size: 2rem;
              line-height: 2.25rem;
              color: white;
              font-weight: bold; }
            .M-List .M-ListWrap .ListBlock .StoreItem .Stock .Item.AdultMask {
              background: #00b4dc; }
            .M-List .M-ListWrap .ListBlock .StoreItem .Stock .Item.ChildMask {
              background: #ffd44d; }

.ListPanel {
  width: 280px;
  height: calc(100% - 80px);
  position: absolute;
  top: 8px;
  left: 5px;
  background: rgba(255, 255, 255, 0.88);
  padding: 8px;
  z-index: 888;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }
  @media screen and (max-width: 899px) {
    .ListPanel {
      display: none; } }
  .ListPanel .News {
    background: rgba(0, 138, 169, 0.85);
    width: calc(100% + 16px);
    margin: -10px -8px 10px -10px; }
    .ListPanel .News p {
      padding: 4px 8px;
      color: white;
      font-size: 1.15rem;
      line-height: 1.68rem; }
  .ListPanel .StoreList {
    width: 100%; }
    .ListPanel .StoreList form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .ListPanel .StoreList form select {
        font-size: 1.25rem;
        width: calc((100% - 0px)/2);
        border-radius: 8px;
        margin-right: 4px;
        cursor: pointer; }
        .ListPanel .StoreList form select option {
          font-size: 1.25rem; }
      .ListPanel .StoreList form button {
        font-size: 1.25rem;
        border-style: solid;
        width: 60px;
        border: 1px solid #ff7835;
        background: #ff7835;
        color: white;
        border-radius: 8px;
        padding: 7px 6px;
        cursor: pointer;
        -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35); }
    .ListPanel .StoreList .ListBlock {
      width: calc(100% + 16px);
      margin-top: 8px;
      margin-left: -8px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .ListPanel .StoreList .ListBlock h5 {
        width: 80%;
        height: 60px;
        display: block;
        text-align: left;
        margin-top: 120px;
        position: relative; }
      .ListPanel .StoreList .ListBlock .StoreItem {
        width: 100%;
        min-height: 155px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 8px;
        cursor: pointer;
        border-bottom: 1px solid #97A8B9;
        margin-bottom: 5px;
        position: relative; }
        .ListPanel .StoreList .ListBlock .StoreItem:hover {
          -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }
        .ListPanel .StoreList .ListBlock .StoreItem .InfoTitle {
          width: calc(100% + 16px);
          height: 31px;
          font-size: 1.35rem;
          background: #6CC24A;
          color: white;
          margin-left: -8px;
          margin-right: -8px;
          margin-top: -8px;
          padding: 5px; }
        .ListPanel .StoreList .ListBlock .StoreItem .Info {
          width: calc(100% - 30% - 5px);
          font-size: 0.9rem;
          line-height: 1.1rem;
          margin-top: 3px; }
          .ListPanel .StoreList .ListBlock .StoreItem .Info p {
            font-size: 1.05rem;
            line-height: 1.35rem;
            font-weight: normal; }
            .ListPanel .StoreList .ListBlock .StoreItem .Info p b {
              font-weight: bold; }
        .ListPanel .StoreList .ListBlock .StoreItem .Note {
          width: calc(100% - 30% - 5px);
          padding: 3px 0px;
          border-bottom: 1px dashed #6CC24A;
          font-size: 1.05rem;
          line-height: 1.35rem; }
          .ListPanel .StoreList .ListBlock .StoreItem .Note.Web {
            margin-bottom: 3px;
            border-bottom: 0px; }
            .ListPanel .StoreList .ListBlock .StoreItem .Note.Web a {
              color: #008aa9;
              font-size: 1.05rem;
              line-height: 1.35rem; }
          .ListPanel .StoreList .ListBlock .StoreItem .Note:last-child(1) {
            margin-bottom: 3px;
            border-bottom: 0px; }
        .ListPanel .StoreList .ListBlock .StoreItem .Stock {
          width: 30%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          position: absolute;
          top: 38px;
          right: 0px;
          text-align: center; }
          .ListPanel .StoreList .ListBlock .StoreItem .Stock .Item {
            width: 100%;
            padding: 8px;
            font-size: 1rem;
            line-height: 1.1rem; }
            .ListPanel .StoreList .ListBlock .StoreItem .Stock .Item .Quantity {
              font-size: 2rem;
              line-height: 2.25rem;
              color: white;
              font-weight: bold; }
            .ListPanel .StoreList .ListBlock .StoreItem .Stock .Item.AdultMask {
              background: #00b4dc; }
            .ListPanel .StoreList .ListBlock .StoreItem .Stock .Item.ChildMask {
              background: #ffd44d; }

/* ************************************************************* 
End [Page]地圖資訊
************************************************************* */
/* ************************************************************* 
[Page]購買須知
************************************************************* */
.PageContent {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  display: block;
  padding: 25px 5px 15px; }
  @media screen and (min-width: 890px) {
    .PageContent {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%; } }
  @media screen and (min-width: 1351px) {
    .PageContent {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%; } }
  .PageContent h1 {
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 20px 0px 10px; }
  .PageContent h2 {
    width: 100%;
    text-align: center;
    margin: 8px 0px 15px; }
    .PageContent h2 span {
      font-size: 2.25rem;
      line-height: 2.85rem;
      -webkit-box-shadow: 0 -12px 0 rgba(255, 234, 129, 0.68) inset;
      box-shadow: 0 -12px 0 rgba(255, 234, 129, 0.68) inset;
      padding: 0px 5px; }
  .PageContent p {
    font-size: 1.58rem;
    line-height: 2.45rem;
    margin: 8px 0px; }
  .PageContent .Content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px; }
    .PageContent .Content .InfoBlock {
      width: 100%;
      background: #FFEA81;
      border-radius: 15px;
      padding: 12px;
      text-align: left;
      margin-bottom: 18px; }
      .PageContent .Content .InfoBlock h3 {
        font-weight: bold;
        text-align: center;
        width: 100%;
        padding-bottom: 3px;
        border-bottom: 2px dashed white;
        margin-bottom: 0px; }
      .PageContent .Content .InfoBlock ul {
        width: 100%;
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin: 0px 0px 8px;
        padding: 8px;
        background: white;
        border-radius: 0px 0px 12px 12px; }
        .PageContent .Content .InfoBlock ul li {
          list-style: decimal;
          margin-left: 23px;
          border-bottom: 1px dashed #d3d3d3; }
      .PageContent .Content .InfoBlock .PurLimit {
        padding: 10px;
        border-radius: 12px;
        font-weight: bold;
        background: white;
        color: #00b4dc;
        font-size: 1.68rem;
        text-align: center;
        margin: 0px; }
      .PageContent .Content .InfoBlock .IdNo {
        padding: 8px;
        background: #00b4dc;
        border-radius: 12px;
        margin-top: 8px;
        color: white;
        text-align: center; }
        .PageContent .Content .InfoBlock .IdNo p {
          font-size: 1.5rem;
          line-height: 2.5rem;
          margin: 0px; }
        .PageContent .Content .InfoBlock .IdNo .CardNo {
          font-weight: bold;
          font-size: 1.88rem; }
      .PageContent .Content .InfoBlock.Foreigner {
        background: #ffab81; }
      @media screen and (min-width: 890px) {
        .PageContent .Content .InfoBlock {
          width: calc((100% - 15px)/2);
          margin-right: 15px; }
          .PageContent .Content .InfoBlock.Foreigner {
            margin-right: 0px; } }
    .PageContent .Content a {
      font-size: 1.5rem;
      line-height: 2.5rem;
      border-bottom: 1px solid #ffab81; }
      .PageContent .Content a:hover {
        color: #ffab81; }
  .PageContent .Poster {
    width: 100%;
    border-top: 1px solid #6CC24A;
    margin-top: 15px; }
    .PageContent .Poster figure {
      width: 90%;
      margin: 0 auto; }
      @media screen and (min-width: 890px) {
        .PageContent .Poster figure {
          width: 80%;
          margin: 0 auto; } }
      .PageContent .Poster figure img {
        width: 100%;
        margin: 18px 0px; }
        .PageContent .Poster figure img:hover {
          -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35); }

/* ************************************************************* 
End [Page]購買須知
************************************************************* */
/* ************************************************************* 
[Page]自製口罩教學
************************************************************* */
.Episode {
  position: relative;
  padding-bottom: 56.25%;
  /*16:9*/
  padding-top: 25px;
  height: 0; }

.Episode iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

@media screen and (max-width: 780px) {
  iframe[src*="youtube"] {
    max-width: 700px; }
  .fb-video [src*="facebook"] {
    max-width: 100%;
    height: auto; } }

.PageContent .PlayVideoBlock {
  width: 100%;
  min-height: 300px;
  color: white;
  float: left;
  -webkit-transition: ease-in 0.5s all;
  -o-transition: ease-in 0.5s all;
  transition: ease-in 0.5s all; }

.PageContent .Post p {
  margin-bottom: 20px; }
  .PageContent .Post p .HightLight {
    font-size: 1.58rem;
    line-height: 2.45rem;
    -webkit-box-shadow: 0 -12px 0 rgba(255, 234, 129, 0.68) inset;
    box-shadow: 0 -12px 0 rgba(255, 234, 129, 0.68) inset; }

.PageContent .Post h4.Q {
  width: 100%;
  background: #55a237;
  color: white;
  font-weight: bold;
  padding: 8px 10px;
  margin: 15px 0px 5px;
  border-radius: 8px; }

/* ************************************************************* 
End [Page]自製口罩教學
************************************************************* */
/*強制*/
.hidden {
  display: none !important; }

a.hidden {
  display: none !important; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }
